@{
    Layout = "_Layout";
}

<div class="container-fluid">
    <!-- DataTales Example -->
    <div class="card shadow mb-4">
        <div class="card-header py-3 d-flex justify-content-between align-items-center">
            <h6 class="m-0 font-weight-bold text-primary">Roller</h6>
            <a href="/Role/Create" class="btn btn-primary btn-icon-split">
                <span class="icon text-white-50">
                    <i class="fas fa-arrow-right"></i>
                </span>
                <span class="text">Yeni Rol</span>
            </a>
        </div>
        <div class="card-body">
            <div class="table-responsive">
                <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                    <thead>
                        <tr>
                            <th>ID</th>
                            <th>Rol Adı</th>
                            <th>Açıklama</th>
                            <th>Durum</th>
                            <th>İşlemler</th>
                        </tr>
                    </thead>

                    <tbody id="dataTableBody">
                        <!-- Table content will be added dynamically -->
                    </tbody>
                </table>
            </div>
        </div>
    </div>

</div>
<script src="~/Scripts/Tools/Tools.js"></script>
<script src="~/Scripts/Role/List.js"></script>