@{
    Layout = "_LayoutError";

}

<div class="container-fluid">

    <!-- 404 Error Text -->
    <div class="text-center">
        <div class="error mx-auto" data-text="404">403</div>
        <p class="lead text-gray-800 mb-5">Forbidden</p>
        <p class="text-gray-500 mb-0">Sayfaya erişme izniniz yoktur.</p>
        <a href="/Login/SignIn">&larr; Giriş'e Dön</a>
    </div>

</div>