
@{
    Layout="_Layout";
}

@model Cantaoria.Application.Models.Requests.MenuRequests.CreateMenuRequest

<div class="container-fluid">
    <div class="card shadow mb-4">
        <div class="card-header py-3">
            <h6 class="m-0 font-weight-bold text-primary">Menü Oluştur</h6>
        </div>
        <div class="card-body">
            <form asp-controller="Menu" asp-action="Create" id="productForm" method="post" enctype="multipart/form-data">
               
                    <div class="form-group">
                        <label for="name">Ürün Adı:</label>
                        <input asp-for="Name" type="text" class="form-control form-control-lg form-control-solid" required>
                    </div>
                    <div class="form-group">
                        <label for="url">URL:</label>
                    <input asp-for="URL" type="text" class="form-control form-control-lg form-control-solid"required>
                    </div>
                <div class="form-group">
                    <label for="order">Sıra:</label>
                    <input asp-for="Order" type="number" class="form-control form-control-lg form-control-solid"  required>
                </div>
                
                <div class="form-group">
                    <label for="menu">Üst Menü:</label>
                    <select asp-for="ParentID" asp-items="@Model.Menus" class="form-select form-select-lg form-select-solid" required>
                        <option value="" disabled selected>Seçiniz</option>
                    </select>
                </div>
              
                <button type="submit" class="btn btn-primary">Kaydet</button>
                <a href="/Menu/List" class="btn btn-info ">Vazgeç</a>
            </form>
        </div>
    </div>
</div>